<% layout("layouts/boilerplate") %>

    <h1>
        <%= day.name %>
    </h1>
    <div class="row">
        <h3 class="col-md-4">
            Event: <%= event.name %>
        </h3>
        <h4 class="col-md-8">
            Gender: <%= event.gender %>
        </h4>
    </div>
    <div>
        <% if(event.participants.length> 0) { %>
            <h4 class="card-text">Participants - <%= event.participants.length %>: </h4>
            <ul>
                <% for(let participant of event.participants) { %>
                    <li>
                        <%= participant %>
                    </li>
                    <% } %>
            </ul>
            <% } else { %>
                <p class="card-text">No participants yet!</p>
                <% } %>
    </div>

    <form action="/sportsDays/<%= day._id %>/events/<%= event._id %>/join" method="POST" novalidate
        class="validated-form">
        <h4>Sign up:</h4>
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Enter your name" required>
            <div class="valid-feedback">Looks Good!</div>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Sign Up</button>
        </div>
    </form>

    <div class="row mb-3">
        <form class="col-auto" action="/sportsDays/<%= day._id %>/events/<%= event._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete Event</button>
        </form>

        <form class="col-auto" action="/sportsDays/<%= day._id %>">
            <button class="btn btn-primary">Back to <%= day.name %></button>
        </form>
    </div>