<link rel="stylesheet" href="/stylesheets/houses.css">

<p class="fs-5">Update account info</p>
<form action="/updateStudent?_method=PUT" method="POST" class="validated-form" novalidate>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label" for="name">Firstname</label>
            <input class="form-control" type="text" id="name" name="name" value="<%= signedInUser.name %>" required>
            <div class="valid-feedback">All Good!</div>
            <div class="invalid-feedback">Please enter a valid name</div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="surname">Surname</label>
            <input class="form-control" type="text" id="surname" name="surname" value="<%= signedInUser.surname %>"
                required>
            <div class="valid-feedback">All Good!</div>
            <div class="invalid-feedback">Please enter a valid surname</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label" for="year">Year group</label>
            <select name="year" id="year" class="form-select form-select-md" aria-label=".form-select-sm example"
                required>
                <option value="-1" <%=(signedInUser.year===-1 ) ? "selected" : "" %>>Pre-nursery</option>
                <option value="0" <%=(signedInUser.year===0 ) ? "selected" : "" %>>Nursery</option>
                <option value="1" <%=(signedInUser.year===1 ) ? "selected" : "" %>>Year 1</option>
                <option value="2" <%=(signedInUser.year===2 ) ? "selected" : "" %>>Year 2</option>
                <option value="3" <%=(signedInUser.year===3 ) ? "selected" : "" %>>Year 3</option>
                <option value="4" <%=(signedInUser.year===4 ) ? "selected" : "" %>>Year 4</option>
                <option value="5" <%=(signedInUser.year===5 ) ? "selected" : "" %>>Year 5</option>
                <option value="6" <%=(signedInUser.year===6 ) ? "selected" : "" %>>Year 6</option>
                <option value="7" <%=(signedInUser.year===7 ) ? "selected" : "" %>>Year 7</option>
                <option value="8" <%=(signedInUser.year===8 ) ? "selected" : "" %>>Year 8</option>
                <option value="9" <%=(signedInUser.year===9 ) ? "selected" : "" %>>Year 9</option>
                <option value="10" <%=(signedInUser.year===10 ) ? "selected" : "" %>>Year 10</option>
                <option value="11" <%=(signedInUser.year===11 ) ? "selected" : "" %>>Year 11</option>
                <option value="12" <%=(signedInUser.year===12 ) ? "selected" : "" %>>Year 12</option>
                <option value="13" <%=(signedInUser.year===-13 ) ? "selected" : "" %>>Year 13</option>
            </select>
            <div class="valid-feedback">All Good!</div>
            <div class="invalid-feedback">Please choose a year group</div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="gender">Gender</label>
            <select name="gender" id="gender" class="form-select form-select-md" aria-label=".form-select-sm example"
                required>
                <option value="male" <%=(signedInUser.gender==="male" ) ? "selected" : "" %> >Male</option>
                <option value="female" <%=(signedInUser.gender==="female" ) ? "selected" : "" %>>Female</option>
            </select>
            <div class="valid-feedback">All Good!</div>
            <div class="invalid-feedback">Please choose a gender</div>
        </div>
    </div>
    House
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-wrap mb-3">
            <% const houses=["bear", "bison" , "wolf" , "lynx" ]; for (let house of houses) { const
                checked=(signedInUser.house===house ) ? "checked" : "" ; %>
                <div class="house">
                    <input class="form-check-input" type="radio" name="house" id="<%= house %>" value="<%= house %>"
                        <%=checked %>>
                    <button class="btn btn-outline-primary m-1" type="button">
                        <div class="form-check m-1 ps-1 pe-1">
                            <img src="/imgs/<%= house %>.png" alt="Image of <%= house%>">
                            <label class="form-check-label" for="<%= house %>"></label>
                            <span class="fs-6">
                                <%= house[0].toUpperCase() + house.slice(1) %>
                            </span>
                        </div>
                    </button>
                </div>
                <% } %>
        </div>
    </div>
    <div class="d-grid">
        <button class="btn btn-success">Update</button>
    </div>
</form>