<% layout("layouts/boilerplate") %>

    <h1>New Sports Day</h1>
    <form action="/sportsDays" method="POST" novalidate class="validated-form row">
        <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" name="name" id="title" placeholder="Sports day name" required>
            <div class="valid-feedback">All Good!</div>
            <div class="invalid-feedback">Please choose a title.</div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="year">Year Group (1 to 13)</label>
            <input class="form-control" type="number" name="year" id="year" placeholder="Year Group" min="1" max="13"
                required>
            <div class="valid-feedback">All Good!</div>
            <div class="invalid-feedback">Please choose an integer year group between 1 and 13.</div>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label" for="date">Date</label>
            <input class="form-control" type="date" name="date" id="date" required>
            <div class="valid-feedback">All Good!</div>
            <div class="invalid-feedback">Please choose a valid date.</div>
        </div>
        <div>
            Template Events
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Event</th>
                            <th scope="col">Gender</th>
                            <th scope="col"></th>
                            <th scope="col">
                                <input class="form-check-input" type="checkbox" id="allEvents">
                                <label class="form-check-label" for="allEvents">
                                    Select All Events
                                </label>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let i=0; for(template of templates) { %>
                            <tr>
                                <td>
                                    <%= template.name %>
                                </td>
                                <td>
                                    <div class="form-check col">
                                        <input class="form-check-input" type="checkbox" value="<%= template._id %>"
                                            id="male<%= i %>" name="events[male][]">
                                        <label class="form-check-label" for="male<%= i %>">
                                            Male
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check col">
                                        <input class="form-check-input" type="checkbox" value="<%= template._id %>"
                                            id="female<%= i %>" name="events[female][]">
                                        <label class="form-check-label" for="female<%= i %>">
                                            Female
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-check col">
                                        <input class="form-check-input" type="checkbox" id="all<%= i %>">
                                        <label class="form-check-label" for="all<%= i %>">
                                            Select Row
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" id="rowRemove"
                                        data-submit-val="<%= template._id %>">Remove</button>
                                </td>
                            </tr>
                            <% i++; } %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-success">Add Sports Day</button>
        </div>
    </form>
    <form action="/" method="POST" class="d-none" id="removeForm">
        <input type="text" name="returnTo">
    </form>

    <script>
        const removeForm = document.querySelector("form#removeForm");
        const returnTo = removeForm.querySelector("input");
        const removeButtons = document.querySelectorAll("button#rowRemove")
        removeButtons.forEach(btn => {
            btn.addEventListener("click", e => {
                const submitTo = btn.getAttribute("data-submit-val");
                removeForm.action = `/templateEvents/${submitTo}?_method=DELETE`;
                returnTo.value = window.location.href;
                removeForm.submit();
            })
        })

        const tableRows = document.querySelectorAll("tbody > tr");
        const allCheckboxes = [];
        for (let tr of tableRows) {
            const checkboxes = Array.from(tr.querySelectorAll("input[type='checkbox']"));
            allCheckboxes.push(...checkboxes);
            if (checkboxes.length > 2) {
                const selectAllCheckbox = checkboxes[checkboxes.length - 1];
                const toggler = selectAll(selectAllCheckbox, checkboxes.splice(0, checkboxes.length - 1))
                selectAllCheckbox.onclick = toggler;
            }
        }

        const selectAllEventsCheckbox = document.querySelector("thead input[type='checkbox']");
        const toggler = selectAll(selectAllEventsCheckbox, allCheckboxes);
        selectAllEventsCheckbox.onclick = toggler;

        function selectAll(selectAllCheck, checkBoxes) {
            return () => checkBoxes.forEach(check => check.checked = selectAllCheck.checked);
        }
    </script>