<% layout("layouts/boilerplate") %>

    <h1>
        <%= day.name %>
    </h1>
    <div class="row">
        <h5 class="col-md-6">
            Year: <%= day.year %>
        </h5>
        <h5 class="col-md-6">
            Date: <%= day.date.toDateString() %>
        </h5>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="row">
                <h3 class="col">Events - <span data-num-events>
                        <%= day.events.length %>
                    </span>:</h3>
                <div class="btn-group col" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="eventSort" id="all" autocomplete="off" data-all-radio
                        checked>
                    <label class="btn btn-outline-primary" for="all">All</label>
                    <input type="radio" class="btn-check" name="eventSort" id="male" data-male-radio autocomplete="off">
                    <label class="btn btn-outline-primary" for="male">Male</label>
                    <input type="radio" class="btn-check" name="eventSort" id="female" data-female-radio
                        autocomplete="off">
                    <label class="btn btn-outline-primary" for="female">Female</label>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3 d-flex align-items-center">
            <a class="btn btn-success" href="/sportsDays/<%= day._id %>/events/new">New Event</a>
        </div>
    </div>
    <div class="row">
        <% if(day.events.length> 0) { %>
            <% for(let event of day.events) { %>
                <div class="col-md-6 mb-3" data-card-container data-card-gender="<%= event.gender %>">
                    <a class="text-decoration-none text-reset"
                        href="/sportsDays/<%= day._id %>/events/<%= event._id %>">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <h5 class="card-title col-md-6">
                                        <%= event.name %>
                                    </h5>
                                    <div class="col-md-6 text-md-end">
                                        <%= event.gender[0].toUpperCase() + event.gender.slice(1) %>
                                    </div>
                                </div>
                                <% if(event.participants.length> 0) { %>
                                    <p class="card-text">Participants - <%= event.participants.length %>:</p>
                                    <ul class="list-group list-group-flush mb-2">
                                        <% for(let participant of event.participants) { %>
                                            <li
                                                class="list-group-item list-group-item-action d-flex flex-wrap justify-content-between mb-1">
                                                <div class="m-2 m-md-0">
                                                    Name: <%= participant.name %>
                                                </div>
                                                <div class="m-2 m-md-0">
                                                    House: <%= participant.house[0].toUpperCase() +
                                                        participant.house.slice(1) %>
                                                </div>
                                            </li>
                                            <% } %>
                                    </ul>
                                    <% } else { %>
                                        <p class="card-text">No participants yet!</p>
                                        <% } %>
                                            <div class="row">
                                                <form class="col-auto"
                                                    action="/sportsDays/<%= day._id %>/events/<%= event._id %>">
                                                    <button class="btn btn-primary">Sign up</button>
                                                </form>
                                                <form class="col-auto"
                                                    action="/sportsDays/<%= day._id %>/events/<%= event._id %>?_method=DELETE"
                                                    method="POST">
                                                    <button class="btn btn-danger">Delete Event</button>
                                                </form>
                                            </div>
                            </div>
                        </div>
                    </a>
                </div>
                <% } %>
                    <% } else { %>
                        <div class="mb-3 fs-2">No Events yet!</div>
                        <% } %>
    </div>

    <div class="row mb-3">
        <form class="col-auto" action="/sportsDays/<%= day._id %>/edit">
            <button class="btn btn-warning">Edit</button>
        </form>

        <form class="col-auto" action="/sportsDays/<%= day._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>

        <form class="col-auto" action="/sportsDays">
            <button class="btn btn-primary">All Sports Days</button>
        </form>
    </div>

    <script>
        const numEvents = document.querySelector("[data-num-events]");
        const cards = document.querySelectorAll("[data-card-container]");
        const allRadioButton = document.querySelector("[data-all-radio]");
        allRadioButton.addEventListener("change", function () {
            for (card of cards) {
                card.style.display = "block";
            }
            numEvents.textContent = cards.length;
        })
        const filterCallback = word => {
            return () => {
                let total = 0;
                for (card of cards) {
                    if (card.getAttribute("data-card-gender") === word) {
                        card.style.display = "block";
                        total++;
                    } else {
                        card.style.display = "none";
                    }
                }
                numEvents.textContent = total;
            }
        }
        const maleRadioButton = document.querySelector("[data-male-radio]");
        maleRadioButton.addEventListener("change", filterCallback("male"));
        const femaleRadioButton = document.querySelector("[data-female-radio]");
        femaleRadioButton.addEventListener("change", filterCallback("female"));
    </script>